# Byte-compiled / optimized / DLL files
__pycache__/
*/**/__pycache__/
*.py[cod]
*$py.class

pdf_output/
result/*
log/*


pyrightconfig.json
BM25.ipynb

.vscode
tcdata
test
vector_store
# models
builder
rerank_model
grid_search
stella-base-zh-v2

TODO