#.gitignore file for python projects

# Byte-compiled / optimized / DLL files
__pycache__/
*/**/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.ipynb

# Other files
data/
imgs/
tmp/
pdf_output/
vector_store/
result/*

TODO
